$base-color: #5E3A98; 
$font-color: #f1f1f1;
$header-color: #FFC75F;
$contrast-link-color: #FFAD8F;
$link-color: #FF9671;
$body-font-weight: 300;
$tall-margin: 25px;

$font-dark: rgba($font-color, 0.88);
$header-dark: rgba($header-color, 0.88);

$base-size: 1.5em;
$header-size: 2.5em;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Patua+One&family=Shrikhand&display=swap');

* {
    font-size: 1em;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    //font-family: 'Patua One', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-weight: $body-font-weight;
    background-color: $base-color;
    font-size: $base-size;
    color: $font-color;
    display: flex;
    min-height: 100vh;
}

.page {
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

header {
    padding: 2em;
    line-height: 1.5;
    float: left;
    // height: 100%;

    nav ul {
        list-style: none;
    }

    li a {
        min-width: 50px;
    }

    li.active a {
        color: $header-color;
        font-weight: bold;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: $header-color;
    }
}

h1 {
    color: $header-color;
    font-family: 'Shrikhand', cursive;
    font-size: $header-size;
    font-weight: 100;
}

h5 {
    font-size: $header-size / 1.5;
    margin-top: $tall-margin;
}

h6 {
    margin-top: $tall-margin;
    color: $header-dark;
}

a, a:visited {
    color: $link-color;
}

a:hover {
    text-decoration: none;
}

a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
}


p {
    margin-top: $tall-margin / 2;
}

.pronunciation {
    font-style: italic;
    margin-top: $tall-margin * 1.5;
    font-size: $base-size / 2.5;
}

.project {
    margin-top: $tall-margin / 2;
}

.project p {
    margin-top: $tall-margin / 2;
}

img {
    width: 100%;
}

.bio {
    width: 25%;
    float: left;
    padding-right: 1em;
}

@media only screen {
  body {
      flex-direction: column;
  }

  .page {
    min-width: unset;
  }

  .bio {
    width: 50%;
  }

  header {
      padding: 0.5em 0;
      min-height: unset;
      margin: 0 auto;

      nav li {
          display: inline;
          padding: 0 0.5em;
      }
  }
}

