{% macro render_child(post, type, from_index=false) %}
  {% if from_index %}
  <div class="{{ type }} index">
    <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
    <p class="meta">
      {% if post.pub_date %} published {{ post.pub_date }} {% endif %}
    </p>
  {% if type == "blog-post" %}
    <p>{{ post.body|excerpt }}</p>
    <i><a href="{{ post|url }}">read more</a></i>
  {% endif %}
  </div>
  {% else %}
  <div class="{{ type }}">
    <h1>{{ post.title }}</h1>

    {% set images = post.attachments.images %}

    {% if images %}
    <div>
      {% for image in images %}
        <div>
          <img src="{{ image.thumbnail(400, 400)|url }}" alt="Photo of {{ post.title }}">
        </div>
       {% endfor %}
    </div>
    {% endif %}

    {% if post.body.toc %}
    <div class="toc-container" id="toc">
      <p><strong>Table of Contents</strong></p>
      <ol class="toc">
        {% for item in post.body.toc recursive %}
        <li><a href="#{{ item.anchor }}">{{ item.title }}</a>
          {%if item.children %}
          <ol>{{ loop(item.children) }}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}

    {{ post.body }}
  </div>
  {% endif %}
{% endmacro %}
