{% macro render_child(post, type, from_index=false) %}
  <div class="{{ type }}">
  {% if from_index %}
    <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
    <p class="meta">
      {% if post.pub_date %} published {{ post.pub_date }} {% endif %}
    </p>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
  {% if type == "blog-post" %}
    {{ post.body|excerpt }}
    <i><a href="{{ post|url }}">read more</a></i>
  {% else %}
    {% set images = post.attachments.images %}

    {% if images %}
    <div>
      {% for image in images %}
        <div>
          <img src="{{ image.thumbnail(400, 400)|url }}" alt="Photo of {{ post.title }}">
        </div>
       {% endfor %}
    </div>
    {% endif %}

    {{ post.body }}
  </div>
  {% endif %}
{% endmacro %}
