* {
  font-weight: 100;
  margin: 0;
}

body {
    font-size: 10px;
    font-family: palatino, "times new roman", serif;
    background-color: #002b36;
    color: #eee8d5;
}

header a {
    color: #dc322f;
}

a, a:visited {
    color: #dc322f;
    /* color: #268bd2; */
    /* color: #888df5; */
}

a:hover {
  text-decoration: none;
}

h3, h3 a, h3 a:visited {
    color: #888df5;
}

header, footer, .page {
  width: 550px;
  margin: 0 auto;
}

header {
  margin-top: 100px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px 0 0;
    padding: 0;
}

header nav ul li a {
  font-size: 1.7em;
}

footer {
  margin: 1.7em auto;
}

.page {
  margin: 2.5rem auto;
}

h1 {
  color: #fdf6e3;
  padding-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1em;
}

h3 {
  font-size: 1.9em;
}

h4 {
  font-size: 1.7em;
  font-weight: bold;
}

h1 a {
  /* text-decoration: none; */
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
  font-size: 1.7em;
  line-height: 1.5rem;
}

/** TODO: recall where this is used aside from project **/
.page ul li {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.page ul li p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.page ol li {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.page .toc-container {
  margin-bottom: 1rem;
}

.page .toc-container p {
  margin-bottom: 0;
}

.toc-container ol li {
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0;
}

img {
  width: 100%;
}

.index p {
  margin-bottom: 10px;
}

.pagination {
  margin-top: 1rem;
  font-size: 1rem;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1.4em;
  padding-top: 10px;
  width: 550px;
}

.footer p {
  padding-bottom: 0;
  padding-top: 10px;
  margin: 0;
}

.resume iframe {
  margin: 0 auto;
  display: block;
}

.meta {
  font-size: .7rem;
  font-style: italic;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  header, footer, .page {
  	width: 90%;
    margin: 10px;
  }

  .page {
    margin: 15px;
  }
}

@media screen and (max-width: 850px) {
  .mobile {
    display: block;
  }
}