<!doctype html>
<meta charset="utf-8">
<meta name="description" content="Shir Goldberg is a product manager and developer based in Seattle. Learn more about their methods and past projects on their website.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome {% endblock %} Shir Goldberg</title>
<body>
  <header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/resume', 'Resume'],
          ['/pronouns', 'Pronouns']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  {% if this.resume_iframe %}
  <div class="resume">
    {{ this.resume_iframe }}
  </div>
  {% endif %}
  <footer>
    &copy; Copyright 2020 by Shir Goldberg.
  </footer>
</body>
