<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Shir Goldberg is a technical consultant based in Seattle, WA. Learn more about Shir's methods and past work on their website.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{{ '/css/theme.css'|asseturl }}">
  <title>{% block title %}Welcome {% endblock %} Shir Goldberg</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon/favicon-16x16.png'|url }}">
  <link rel="manifest" href="{{ '/static/favicon/site.webmanifest'|url }}">
  <script src="https://kit.fontawesome.com/07af19e0f4.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="page">
    <header>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">Welcome</a></li>
          {% for href, title in [
            ['/career', 'Career'],
            ['/projects', 'Projects'],
            ['/pronouns', 'Pronouns'],
            ['/contact', 'Contact']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <div class="content">
      {% block body %}{% endblock %}
    </div>
    {% if this.resume_iframe %}
    <div class="resume">
      {{ this.resume_iframe }}
    </div>
    {% endif %}
  </div>
</body>
