/** Inspired by the Ghost Tumblr theme by abitdark.com **/

* {
  font-weight: 100;
  margin: 0;
}

body {
  font-size: 10px;
  font-family: palatino, "times new roman", serif;
  background-color: #fff;
}

a {
  color: #d94f40;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer, .page {
  width: 550px;
  margin: 0 auto;
}

header {
  margin-top: 100px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px 0 0;
    padding: 0;
}

header nav ul li a {
  font-size: 1.7em;
}

footer {
  margin: 1.7em auto;
}

.page {
  margin: 2.5rem auto;
}

h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1em;
}

h3 {
  font-size: 1.9em;
}

h1 a {
  color: #333;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

p {
  text-align: justify;
  margin-bottom: 1.7em;
  font-size: 1.7em;
  line-height: 1.5em;
  color: #333;
}

.page ul li {
  font-size: 1.7em;
}

.index p {
    margin-bottom: 10px;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1.4em;
  padding-top: 10px;
  width: 550px;
}

.footer p {
  padding-bottom: 0;
  padding-top: 10px;
  margin: 0;
}

.resume iframe {
  margin: 0 auto;
  display: block;
}

.meta {
  font-size: .7rem;
  font-style: italic;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  header, footer, .page {
  	width: 90%;
    margin: 10px;
  }

  .page {
    margin: 15px;
  }
}

@media screen and (max-width: 850px) {
  .mobile {
    display: block;
  }
}
